<!doctype html>
<html lang="en">
    <head>
        <title>The Wall</title>
        {% load static %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="header px-3 border-bottom-5 border border-dark">
            <div class="row">
                <h1 class="col">CodingDojo Wall</h1>
                <div class="col text-right">
                    <div class="row">
                        <div class="col">
                            <h4 class="d-inline-block">{{user.firstName}} {{user.lastName}}</h4>
                            <a href="/logout">log off</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <form action="/wall/message/create" method="POST">
                {% csrf_token %}
                <div class="row my-2">Post a message</div>
                <input type="hidden" name="userID" value="{{user.id}}">
                <div class="row">
                    <textarea class="col" name="message" id="message" cols="30" rows="10"></textarea>
                </div>
                <div class="row my-1 text-right">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Post a message</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container">
            {% for message in messages %}
                <div class="row">
                    <h4>{{message.user.firstName}} - {{message.created_at}}</h4>
                    {% if message.user.id == user.id and message.created_at > date %}
                        <a class="col align-middle" href="/wall/message/{{message.id}}/delete">Delete</a>
                    {% endif %}
                </div>
                <div class="row">
                    <p>{{message.message}}</p>
                </div>
                <form class="mx-5" action="/wall/comment/create" method="POST">
                    {% csrf_token %}
                    {% for comment in comments %}
                        {% if comment.message.id == message.id %}
                            <div class="row">
                                <h5>{{comment.user.firstName}} - {{comment.created_at}}</h5>
                            </div>
                            <div class="row">
                                <p>{{comment.comment}}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <input type="hidden" name="messageID" value="{{message.id}}">
                    <input type="hidden" name="userID" value="{{user.id}}">
                    <div class="row">
                        <h5>Post a comment</h5>
                    </div>
                    <div class="row">
                        <textarea class="col" name="comment" id="comment" cols="30" rows="3"></textarea>
                    </div>
                    <div class="row my-1 text-right">
                        <div class="col">
                            <button class="btn btn-success">Post a comment</button>
                        </div>
                    </div>
                </form>
            {% endfor %}
        
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/wall.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>