*{
    margin: 0;
    border: 0;
}

button{
    width: 200px;
    height: 150px;
}

@media only screen and (max-width: 600px){
    button{
        background-color: yellow;
        display: block;
    }
}

@media only screen and (min-width: 601px){
    button{
        background-color: blue;
    }
    span{
        display: block;
    }
}

@media only screen and (min-width: 1024px){
    button{
        background-color: red;
    }
    div{
        display: inline-block;
    }
    span{
        display:inline-block;
    }
}