<!doctype html>
<html lang="en">
    <head>
        <title>Checkout Page</title>
        {% load static %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstra   p CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static '/checkout.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1>Thank you for your order!</h1>
                    <p>We ordered {{ request.session.numItems }} items for you and charged your student account on {{ request.session.date }}</p>
                    <h2>You've ordered</h2>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <th>Fruit Name</th>
                            <th>Quantity</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Strawberry</td>
                                <td>{{request.session.strawberry}}</td>
                            </tr>
                            <tr>
                                <td>Raspberry</td>
                                <td>{{request.session.raspberry}}</td>
                            </tr>
                            <tr>
                                <td>Apple</td>
                                <td>{{request.session.apple}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Your Information</h3>
                    <table class="table table-borderless">
                        <tr>
                            <td>Name:</td>
                            <td>{{request.session.name}}</td>
                        </tr>
                        <tr>
                            <td>Your Student ID:</td>
                            <td>{{request.session.id}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>