<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="row">
                    <div class="col">
                        <div class="row justify-content-end">
                            <div class="col-1">
                                <a href="/books">Home</a>
                            </div>
                            <div class="col-1">
                                <a href="/logout">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h1>Add a New Book Title and a Review</h1>
                </div>
                <div class="row">
                    <div class="col-7">
                        <form action="/books/create" method="POST">
                            {% csrf_token %}
                            {% for message in messages %}
                            {% if message.extra_tags == "title" %}
                                <div class="row">
                                    <div class="col alert-danger">{{message}}</div>
                                </div>
                            {% endif %}
                            {% endfor %}
                            <div class="row my-2">
                                <label class="col-2">Book Title:</label>
                                <input class="col-4" type="text" name="title">
                            </div>
                            <div class="row my-2">Author</div>
                            {% for message in messages %}
                            {% if message.extra_tags == "author" %}
                                <div class="row">
                                    <div class="col alert-danger">{{message}}</div>
                                </div>
                            {% endif %}
                            {% endfor %}
                            <div class="row">
                                <label class="col-6">Choose an author from the list: </label>
                                <select class="col-4" name="authorList">
                                    {% for author in authors %}
                                        <option value="{{author.id}}">{{author.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row my-2">
                                <label class="col-6">Or add a new author:</label>
                                <input class="col-4" type="text" name="newAuthor">
                            </div>
                            <div class="row">
                                Review:
                                {% for message in messages %}
                                {% if message.extra_tags == "review" %}
                                    <div class="row">
                                        <div class="col alert-danger">{{message}}</div>
                                    </div>
                                {% endif %}
                                {% endfor %}
                                <textarea class="col-12" name="review" id="review" cols="30" rows="5"></textarea>
                            </div>
                            {% for message in messages %}
                            {% if message.extra_tags == "rating" %}
                                <div class="row">
                                    <div class="col alert-danger">{{message}}</div>
                                </div>
                            {% endif %}
                            {% endfor %}
                            <div class="row my-2 input-group">
                                <label class="col-2">Rating: </label>
                                <input class="col-2" type="number" min="1" max="5" name="rating" value="5">
                                <label class="col-2" >Stars</label>
                            </div>
                            <div class="row justify-content-end">
                                <button class="btn btn-primary">Add Book and Review</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>